.sidepanel {
    width: 25rem;
    background-color: #d38b47;
    padding: 20px;
    transition: all 0.3s;
    overflow: hidden;
    position: fixed left;
    left:0;
    top:0;
    height:100;
    background: linear-gradient(217deg, #be7027de, #ca8b3893);
    border-right: double hsl(34, 57%, 70%);
  }
  
  .collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
  }